.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  /* Calculate approx height to center (100vh - navbar - footer) */
  /* Adjust 300px based on actual header/footer size if needed, but 300px is a safe bet to avoid scrollbar on smaller screens */
  min-height: calc(100vh - 300px); 
}

.featureSvg {
  height: 200px;
  width: 200px;
}
